{{ define "about" }}
<section class="border-2 p-8 rounded-lg border-stone-700 bg-stone-950">
  <div class="text-xl">About</div>
  <div class="text-3xl my-4">{{ .Title }}</div>
  <div class="text-md">{{ .Description }}</div>
</section>
{{ end }}
